<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"> <head>
<!-- ヘッド要素 -->
<meta charset="UTF-8">
<title>タイトル</title>
</head>
<body>

<h2>球団名</h2>
<span th:text="${teamdetail.teamName}">dummy</span><br>
<h2>本拠地</h2>
<span th:text="${teamdetail.headquarters}">dummy</span><br>
<h2>発足</h2>
<span th:text="${teamdetail.inauguration}">dummy</span><br>
<h2>歴史</h2>
<span th:text="${teamdetail.history}">dummy</span><br>

<form th:action="@{/back_to_list}" method="post">
<button>戻る</button>
</form>

</body>
</html>